extends ../../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      .container-fluid
        .row
          footer
            include ../views/footer
            