extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings.row
            .col-md-9
              .row
                .col-md-4
                  if data.allnewess.length
                      if data.allnewess[0].image.exists
                        img(src=data.allnewess[0]._.image.limit(80,52))
                .col-md-8
                  .row
                    .col-md-4.col-md-offset-8.text-right
                      ul.list-inline
                        li
                          a#print
                            i.fa.fa-lg.fa-print
                          |
                        li
                          a#pdf
                            i.fa.fa-lg.fa-file-pdf-o
                          |
                        li
                          a(href="/contactlist")
                            i.fa.fa-lg.fa-envelope
                  small #{data.allnewess[0].date}
                    p
                      | #{data.allnewess[0].newsText}
                  
      .container-fluid
        .row
          footer
            include ../views/footer